* { 
   box-sizing: border-box;
   font-family: cursive;
   }
h1 {
   margin-bottom: 15px;
   text-align: center;
   }
   

.row {
   width: 100%
   }

.col-width {
   float: left;
   border: 5px dotted black;
   background-color: #E7E7E7;
}

.menu_1{
 background-color: #D6573C;  
}

.menu_2{
 background-color: #D481C6; 
   
}

.menu_3{
   background-color: #D7BA4B;
}

 @media screen and (min-width: 1200px) {
  .col-width {
  width: 33.3%;
  }
  }
 @media screen and (min-width: 950px) and (max-width: 1199px) {
  .col-width {
  width: 50%;
  }
  }
 @media screen and (max-width: 949px) {
  .col-width {
  width: 100%;
  }
  }
