* { 
   box-sizing: border-box;
   font-family: cursive;
   }
h1 {
   margin-bottom: 15px;
   text-align: center;
   }
   

.row {
   width: 100%
   }

.col-width {
   float: left;
   
   
}
.col-content{
  width: 90%;
  margin:auto;
  border: 3px dashed black;
  margin-top:5%;
  margin-bottom: 5%;
  border-radius: 8px;
  background-color: #E7E7E7;
}

.menu_1{
 background-color: #D6573C;  
 float: right;
 width: 80px;
 border-left: 3px dashed black;
 border-bottom: 3px dashed black;
 margin: 0px;
 text-align: center;

}

.menu_2{
 background-color: #D481C6; 
 float: right;
 width: 80px;
 border-left: 3px dashed black;
 border-bottom: 3px dashed black;
 margin: 0px;
 text-align: center;
}

.menu_3{
   background-color: #D7BA4B;
   float: right;
   width: 80px;
 border-left: 3px dashed black;
 border-bottom: 3px dashed black;
 margin: 0px;
 text-align: center;
}

.text_1, .text_2, .text_3{
   clear: right;
}

 @media screen and (min-width: 1200px) {
  .col-width {
  width: 33.3%;
  }
  }
 @media screen and (min-width: 950px) and (max-width: 1199px) {
  .col-width {
  width: 50%;
  }
  }
 @media screen and (max-width: 949px) {
  .col-width {
  width: 100%;
  }
  }
