* { 
   box-sizing: border-box;
   background-color: #A52A2A;
   }
h1 {
   margin-bottom: 15px;
   background-color: red;
   }
   
 p {
  }

.row {
   width: 100%
   }

.col-width {
   float: left;
   border: 1px solid black;
}
 @media (min-width: 1200px) {
  .col-width {
  width: 25%;
  }
  }
  @media (min-width: 950px) and (max-width: 1199px) {
  .col-width {
  width: 50%;
  }
  }
  @media (max-width: 949px) {
  .col-width {
  width: 100%;
  }
  }
